.box_stats {
	background-color: rgb(69, 97, 157);
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 90px;
	border-right: 1px solid #133783;
	border-top: 1px solid #133783;
	box-shadow: 1px -1px 1px rgba(0, 0, 0, .52);

}
